name: Build libsodium
on:
  push:
  pull_request:
    branches:    
      - master


jobs:
  makerelease:
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.release_step.outputs.release_id }}
    steps:
    - uses: actions/checkout@v1
    - id: release_step
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash
      run: |
        if [ "$GITHUB_REF_NAME" == "master" ]; then
          TAGNAME=$(date +"%Y%m%d-%H%M")
          RESP="$(curl -X POST -H "Authorization: token $GITHUB_TOKEN" -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/iffy/libsodium-builds/releases -d "{"'"'"tag_name"'"'":"'"'"$TAGNAME"'"'"}")"
          RELEASE_ID=$(echo "$RESP" | jq .id)
          echo "release_id=$RELEASE_ID" >> $GITHUB_OUTPUT
          echo "RELEASE_ID=$RELEASE_ID"
        else
          echo "Skipping release creation since it's not the master branch"
        fi
  build:
    needs:
      - makerelease
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest-intel
          - macos-latest
          - windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build libsodium on ${{ matrix.os }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash
      run: |
        set -e
        ./install_libsodium_static.sh build
    - name: Upload to release
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        RELEASE_ID="${{ needs.makerelease.outputs.release_id }}"
        echo "RELEASE_ID: $RELEASE_ID"
        for dname in "$(ls libsodium)"; do
          tarname="libsodium-${dname}.tgz"
          tarname="$(echo "$tarname" | sed -e s_/_-_)"
          (cd libsodium && tar czvf ../$tarname ${dname})
          if ! [ -z "$RELEASE_ID" ]; then
            echo "Uploading $tarname ..."
            GH_ASSET="https://uploads.github.com/repos/iffy/libsodium-builds/releases/${RELEASE_ID}/assets?name=${tarname}"
            echo " to $GH_ASSET"
            curl -v --data-binary @"$tarname" \
              -H "Authorization: token $GITHUB_TOKEN" \
              -H "Content-Type: application/octet-stream" "$GH_ASSET"
          else
            echo "Not uploading $tarname because there's no RELEASE_ID"
          fi
        done
        ls -al libsodium/
    - uses: actions/upload-artifact@v4
      with:
        path: ./libsodium/libsodium-*.tgz
    - name: Install Nim
      uses: iffy/install-nim@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        version: binary:2.2.6
    - name: Test nimconfig
      shell: bash
      run: |
        nimble install https://github.com/iffy/nim-libsodium -y
        ./install_libsodium_static.sh nimconfig > libsodium.nims
        echo 'include "libsodium.nims"' >> config.nims
        nim r tests/tpwhash.nim
    
